<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="co.com.emegonza.ebooks">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="ebooks" android:icon="@drawable/ic_logo"></application>
</manifest>